body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* START OF HEADER CSS */
.top {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 10rem;
}

.header {
    display: flex;
    align-items: center;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header a {
    color: #E5E7EB;
    font-size: 18px;
    margin-left: 20px;
}

.nav {
    margin-left: auto;
}
/* END OF HEADER CSS */
/* START OF TOP CONTENT */

.top-content {
    display: flex;
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.top-text {
    flex-wrap: wrap;
    flex: 1;
}

h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.top-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.top-img {
    flex-grow: inherit;
}

.btn {
    background-color: #3882F6;
    color: white;
    padding: 5px 25px;
    border: none;
    border-radius: 8px;
    margin: 10px auto;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
}

/* END OF TOP CONTENT CSS */

/* START OF CARD-CONTENT CSS */

.card-content {
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
}

.card-header {
    align-self: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 200px;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 20px;
}

.card img {
    border: 5px solid #3882F6;
    border-radius: 8px;
}

/* END OF CARD CONTENT */
/* START OF QUOTE CONTENT */

.quote-content {
    background-color: #E5E7EB;
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-content p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0;
}

.quote-content h3 {
    font-size: 24px;
    margin-top: 0;
    align-self: flex-end;
}

/* END OF QUOTE CONTENT */
/* START OF BOTTOM CONTENT */

.bottom-content {
    padding: 2rem 10rem;
}

.card-large {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 18px 30px;
    border-radius: 8px;
}

.card-large-text {
    color: white;
}

.card-large-text h4 {
    margin: 0;
    font-weight: bold;
}

.card-large-text p {
    margin: 0;
    color: #E5E7EB;
}

.btn-action {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    font-weight: bold;
}

/* END OF BOTTOM CONTENT */
/* START OF FOOTER */

.footer {
    padding: 1rem 10rem;
    text-align: center;
    background-color: #1F2937;
    color: #E5E7EB;
}

/* END OF FOOTER */